repos:
  - repo: local
    hooks:
      - id: add-license-header
        name: Add license headers to Python files
        entry: add-header.sh
        language: script
        stages: [pre-commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.3
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--select=I]
      # Run the formatter.
      - id: ruff-format
